@import "bootstrap.min.css";
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot');
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu.woff') format('woff'), url('../fonts/Ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f3f3f3;
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5em;
}
#controlbar {
  margin-top: 50px;
}
#controlbar .row {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
#controlbar .col-md-4,
#controlbar .col-sm-4,
#controlbar .col-md-12 {
  padding: 0 !important;
}
#controlbar .control1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none !important;
}
#controlbar .control2 {
  border-left: solid 1px #c5c5c5;
  border-right: solid 1px #c5c5c5;
}
#controlbar .control3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none !important;
}
#controlbar .controlwrapper {
  padding: 15px;
  background-color: #ffffff;
  border: solid 1px #c5c5c5;
  color: #34485F;
}
#controlbar .controlwrapper img {
  display: inline-block;
}
#controlbar .controlwrapper .infowrap {
  display: inline-block;
  padding-left: 15px;
}
#controlbar .controlwrapper .infowrap h3 {
  font-weight: bold;
  position: relative;
  top: -15px;
}
#controlbar .linktopdf {
  color: #34485F;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 200px;
}
#controlbar .linktopdf img {
  padding-right: 10px;
}
#controlbar .linktopdf:hover {
  text-decoration: none;
}
#controlbar .linktopdf:focus {
  text-decoration: none;
}
.indicator h1 {
  color: #397D9B;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 24px;
}
.indicator p {
  margin: 0px !important;
}
p.refgroup{
  background-image: url("../images/students-icon.png");
  background-repeat: no-repeat;
  background-size: 36px 22px;
  padding-left: 45px;
}
/* - - - - - - - - - - - -- - - - - - - - - - - - */
/* - - - - - - - - TABLE LAYOUT - - - - - - - - - */
/* - - - - - - - - - - - -- - - - - - - - - - - - */

.tbl-container{
  display:table;
  width:100%;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.tbl-container-inner{
  display:table;
  width:100%;
}
.tbl-row{
  display: table-row;
}
.tbl-cell{
  display: table-cell;
  vertical-align: middle;
}

.tbl-cell.data{
  padding:15px;
  border-bottom: 1px solid #c5c5c5;
  width:100%;
}

.tbl-cell.width60  .tbl-row .tbl-cell{
  border-right:1px solid #c5c5c5;
}

.tbl-cell.width60  .tbl-row:last-child .tbl-cell {
  
}
.tbl-cell.width60  .tbl-row:first-child .tbl-cell {
  border-radius: 0 5px 0 0;
  border-top:1px solid #c5c5c5;
}
.width40{
  width: 40%;
}
.width60{
  width: 60%;
}
.spancols{
  display:table-caption !important;
  caption-side:bottom;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  border-top:none;
  padding:15px;
  border-radius: 0 0 5px 5px;
}
.tbl-cell.gauge{
  border: 1px solid #c5c5c5;
  padding:0px;
  text-align: center;
  border-top-left-radius: 5px;
}
.rounded-bottomleft{
  border-bottom-left-radius: 5px;
}
.rounded-bottomright{
  border-bottom-right-radius: 5px !important;
}
.singleitem{
  height:100px;
}
/* - - - - - - - - - - - -- - - - - - - - - - - - */
/* - - - - - - - - - THE GAUGES - - - - - - - - - */
/* - - - - - - - - - - - -- - - - - - - - - - - - */

.controlgauge {
  width: 75px;
  height: 60px;
  display: inline-block;
}
.controlgauge tspan {
  display: none;
}
.gaugeperform {
  width: 9em;
  height: 7em;
  margin: 0 auto;
}
.gaugeperform tspan {
  font-size: 24px;
  position: relative;
  top: 5px;
}

@media (max-width: 1200px) {
  #controlbar .controlwrapper .infowrap {
    width: 100%;
  }
  #controlbar .controlgauge {
    display: block !important;
    margin: 0 auto;
  }
  #controlbar .infowrap {
    padding-left: 0px !important;
  }
  #controlbar h3,
  #controlbar p {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .controlwrapper .infowrap h3 {
    height: 52px;
  }
}

@media (max-width: 767px) {
  #controlbar .controlgauge {
    display: inline-block !important;
    margin: 0 auto;
  }
  #controlbar .control1 {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-right: 1px solid #c5c5c5 !important;
    border-bottom: none !important;
  }
  #controlbar .control3 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #c5c5c5 !important;
    border-top: none !important;
  }
  #controlbar .infowrap {
    padding-left: 15px !important;
  }
  #controlbar h3,
  #controlbar p {
    text-align: left;
  }
  .infotextstudent {
    padding-left: 0px !important;
  }
}

@media (max-width: 704px) {
}

@media (max-width: 425px) {
  #controlbar .controlgauge {
    display: block !important;
    margin: 0 auto;
  }
  #controlbar .infowrap {
    padding-left: 0px !important;
    width: 100%;
  }
  #controlbar h3,
  #controlbar p {
    text-align: center;
  }
}
